<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="dieunguyen.com.simpletimerapp">

    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/NoActionBar">
        <activity android:name=".View.SimpleTimerActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <service
            android:name="dieunguyen.com.simpletimerapp.Presenter.TimerService"
            android:enabled="true"
            android:exported="true"
            android:stopWithTask="false">
        </service>
        <receiver
            android:name=".Presenter.TimeBroadcastReceive"
            android:enabled="true"
            android:exported="true">
        </receiver>
    </application>


</manifest>